.weatherDataCont{
    background-color: tomato;
    width: 400px;
    height: 100px;
    line-height: 100
}

.weatherExtraInfoCont{
    background-color: orange;
    width: 60%;
    display:inline-block;
}

.weatherTemperatureCont{
    background-color: goldenrod;
    width:40%;
    display:inline-block;
}