.weatherLocationCont{
    width: 450px;
    padding: 15px;
}
.locationCont{
    width: 100%;
    height: 35px;    
    background-color: tomato;   
    text-align: left;
    color: #888;
}
.locationCont h1{
    margin: 0;
}